<h1><%= @room.name %></h1>
<div id="logs", data-room_id="<%= @room.id %>">
  <% @logs.each do |log| %>
    <div>
      <%= log.created_at %>
      <%= log.user.name %>
      <%= log.content %>
    </div>
  <% end %>
</div>

<form>
  <label>Say something:</label><br>
  <input type="text" data-behavior="room_speaker">
</form>