<!DOCTYPE html>
<html>
  <head>
    <title>Myblog</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color: orange">
  <div class="container">
    <div class="row">
    <p><%= link_to "Go Home Page", root_path %></p>
    <% if user_signed_in? %>
      <p><%= link_to "Edit this account", edit_user_registration_path , method: :get %></p>
      <p><%= link_to "Logout", destroy_user_session_path, method: :delete %></p>
    <% end %>
    <% if notice %>
      <p class="notice" style="color: greenyellow"><%= notice %></p>
    <% elsif alert %>
      <p class="alert" style="color: red"><%= alert %></p>
    <% end %>
    </div>
    <div class="row">
      <%= yield %>
    </div>
  </div>
  </body>
</html>
